table{
    border:1px solid black;
    border-collapse: collapse;
}

table td,table td{
    border:1px dashed black;
    border-collapse: collapse;
}

table th{
    background-color: rgb(233, 233, 233);
    border:1px dashed black;
}

.text-strike{
    text-decoration: line-through;
}