#board-area{
    height: 60vh;
    display: grid;
    border: 3px solid black;
    grid-template-rows: 1fr 1fr 8fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#board-area>div{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

#board-area>div:not(:last-child){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 900;
}

#title-area{
    grid-column: span 2;
}

#content-area{
    padding: 40px;
    grid-column: span 3;
}

.main-footer{
    display: flex;
    justify-content: center;
}

.board-img-area{
    display:flex;
    width: 100%;
    justify-content:center;
    align-items: center;
}