.middle-content-area{
    display: flex;
    flex-shrink:0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 42px;
    margin-right: 42px;
    height: fit-content;
}

.listcnt-area {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d8d8d8;
}


.listcnt-area th {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 20px;
    font-size: 14px;
    border-collapse: collapse;
}

.listcnt-area td {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 40px;
    font-size: 13px;
    border-collapse: collapse;
}

.listcnt-area thead th {
    background-color: #f7f8f9;
    color: #333;
    font-weight: bold;
}

.listcnt-area th:first-child,
.listcnt-area td:first-child {
    width: 60px;
}

.listcnt-area th:nth-child(2),
.listcnt-area td:nth-child(2) {
    width: 250px;
}
.listcnt-area tbody tr:hover {
    background-color: #f5f5f5;
}

@media (max-width: 768px) {
    .listcnt-area {
        font-size: 14px;
    }

    .listcnt-area th, .listcnt-area td {
        padding: 8px;
    }
}

.top-title-area{
    margin-left: 42px;
    margin-right: 42px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-name{
    margin-top: 12px;
    font-size: 28px;
    color: #2c3cc9;
    font-weight: 500;
    font-family: '맑은 고딕';
    letter-spacing: 1px;
}

.top-title-area-form{
    margin-top: 17px;
    display: flex;
    flex-shrink:0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: end;
    align-items: center;
}

.search-bar{
    display: flex;
    flex-shrink:0;
    justify-content: center;
    place-items: center;
    margin-left: 4px;
}

.search-bar > button{
    font-size: 14px;
    padding: 0px;
    background-color: #FFFFFF;
    color: rgb(34, 34, 34);
    border: 1px solid #416DFF;
    border-radius: 20px;
    width: 67px;
    height: 35px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 300;
}

.search-bar > button:hover {
    background-color: #416DFF;
    color: white;
    font-weight: bold;
}

.search-bar select{
    width: 135px;
    height: 29px;
    border-radius: 5px;
    font-size: 13px;
    margin-left: 10px;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 8px;
    padding-left: 8px;
}

.search-bar select[name=searchType]{
    width: 110px;
    height: 29px;
    border-radius: 5px;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 2px;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 8px;
    padding-left: 8px;
}

#longbar{
    width: 360px;
    height: 29px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 2px;
    padding-left: 8px;
}

.search-bar label {
    font-size: 13px;
    padding-left: 8px;
}

.search-bar input[name=year]{
    width: 100px;
    height: 29px;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    box-sizing: border-box;
}

.search-bar input[name=month]{
    width: 50px;
    height: 29px;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    box-sizing: border-box;
}

.search-bar input[name=day]{
    width: 50px;
    height: 29px;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    box-sizing: border-box;
}

.search-bar input[type=month]{
    width: 120px;
    height: 29px;
    font-size: 13px;
    font-family: 맑은 고딕;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    box-sizing: border-box;
    margin-left: 8px;

}

.search-bar input[type=date]{
    width: 120px;
    height: 29px;
    font-size: 13px;
    font-family: 맑은 고딕;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    box-sizing: border-box;
    margin-left: 8px;
}

#longbar:hover{
    border: 2px solid black;
}

.search-bar input:hover{
    border: 2px solid black;
}

.search-bar select:hover{
    border: 2px solid black;
}