.middle-content-area{
    display: flex;
    flex-shrink:0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 42px;
    margin-right: 42px;
    height: fit-content;
}

.list-area {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d8d8d8;
}


.list-area th {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 20px;
    font-size: 14px;
    border-collapse: collapse;
}

.list-area td {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 5px;
    font-size: 13px;
    border-collapse: collapse;
    max-height: 41px;
}

.list-area thead th {
    background-color: #f7f8f9;
    color: #333;
    font-weight: bold;
}

.list-area th:first-child,
.list-area td:first-child {
    width: 20px;
}

.list-area th:nth-child(2),
.list-area td:nth-child(2) {
    width: 20px;
}
.list-area tbody tr:hover {
    background-color: #f5f5f5;
}

@media (max-width: 768px) {
    .list-area {
        font-size: 14px;
    }

    .list-area th, .list-area td {
        padding: 8px;
    }
} 