
/* 모달 전체 배경 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 반투명 배경 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

/* 모달 창 본체 */
.modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 가운데 정렬 */
    background-color: white;
    padding: 25px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 650px;
    height: 300px;
}

#required-text {
    font-size: 14px;
    color: red;
    text-align: right;
}

.modal-title{
    font-size: 23px;
    font-weight: bold;
    text-align: left;
}

.modal-cont{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

/* 부모 요소를 가로 정렬 */
.row {
    display: flex; /* 가로 배열 */
    align-items: center; /* 세로 정렬 */
    margin-bottom: 1em; /* 각 행 간격 */
}

.row label {
    margin-right: 10px; /* 텍스트와 input 간격 */
    font-weight: bold; /* 강조 */
}

.modal-content input {
    padding: 5px;
    font-size: 1em;
    border-radius: 8px;
    border: 1px solid black;
}

.modal-content button {
    font-size: 15px; /* 작은 글씨 크기 */
    padding: 0px 0px; /* 버튼 안의 여백 (상하 5px, 좌우 10px) */
    background-color: #FFFFFF; /* 버튼 배경색 (#3344FF) */
    color: black; /* 버튼 글자색 (흰색) */
    border-radius: 20px; /* 모서리를 둥글게 */
    cursor: pointer; /* 버튼 위에 마우스 커서를 올리면 포인터 표시 */
    border: 1px solid #416DFF; ;
    width: 70px;
    height: 38px;
}

.modal-content button:hover {
    background-color: #416DFF;
    color: white; 
    font-weight: bold;
}

/* 버튼을 우측 정렬 */
.button-container {
    display: flex; /* 플렉스 컨테이너 */
    justify-content: right; /* 우측 정렬 */
    align-items: center;
}

/* 닫기 버튼 */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: gray;
}

.modal-close:hover {
    color: black;
}
