main .table-area tbody tr:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.checkbox-td{
    width: 30px;
    height: 30px;
}

.checkbox-td input{
    width: 100%;
    height: 100%;
}