.box {
    width: 300px;
    height: 300px;
    border: 5px solid black;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: gray;
    margin: 30px;
  }