body{
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#outer{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 83px 1fr 200px;
    justify-content: center;
}

#header{
    width:100%;
    height:100%;
    border-bottom: 1px solid black;
}

#header-area{
    width:1150px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 1fr; */
}

#header-area > div:nth-child(2) {
    margin-right: auto;
}

.menu-link01, .menu-link02{
    text-decoration: none;
    color: rgb(34, 34, 34);;
}

.menu-link01:hover{
    text-decoration : underline;
    text-underline-position : under;
    text-decoration-color: rgba(73, 73, 73, 0.938);
    text-decoration-thickness: 2px;
}


#header-area>div:nth-child(1) {
    /* font-family:'Ebrima'; */
    font-size: 27px;
    font-weight: 900;
    color: rgb(34, 34, 34);
    place-self: center start;
}

#header-area>div:nth-child(2) {
    font-size: 17px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    display: flex;
    align-self: center;
}
  
#header-area>div:nth-child(2)>div {
    padding-left: 60px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#header-area>div:nth-child(3) {
    font-size: 14px;
    color: rgb(70, 70, 70);
    display: flex;
    align-self: center;
    justify-self: flex-end;
}

#header-area>div:nth-child(3)>div {
    padding-left: 16px;
}

#img-area>img{
    width:100%;
    height:450px;
    object-fit: cover;
    bottom:70px;
}

#content-area {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

#content-01 {
    font-size:23px;
    margin-top: 40px;
    margin-bottom: 15px;
}

#new-menu-area{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 415px 415px;
}

#new-menu-area > div{
    padding: 21px;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-right: 16px;
    border: 1px solid rgb(186, 186, 186);

}

#new-menu-area >div>div>img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2px;
}

#new-menu-area >div>div:nth-child(2){
    font-size: 19px;
    margin-top: 13px;
    margin-bottom: 10px;
   
}

#new-menu-area >div>div:nth-child(3){
    font-size: 14px;
    margin-bottom: 11px;
    color: rgb(58, 58, 58);
}

#new-menu-area >div>div:nth-child(4){
    display: flex;
    justify-content:space-between;
}

#new-menu-area >div>div>div{
    font-size: 17px;
    width: 50%;
}

#content-02 {
    font-size:23px;
    margin-top: 35px;
    margin-bottom: 25px;
}

#content-02-area {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

#event-area {
    width: 1280px;
    height: 150px;
    display:flex;
    justify-content: space-between;
}
  
#event-area>div {
    width: 235px;
    height: 150px;
    font-size: 22px;
    margin-right: 16px;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#event-area>div:hover{
    box-shadow: 0 0 4px #9b9b9b;
}

.discount-text {
    color: rgba(233, 52, 7, 0.938);
    margin-top: 5px;
    font-weight: bold;
    font-size: 24px;
}

.price-text{
    color: rgba(233, 52, 7, 0.938);
    margin-left: 2px;
    margin-right: 3px;
    font-weight: 600;
}

.new-menu-tag {
    font-size: 15px;
    background-color: rgba(233, 52, 7, 0.938);
    color: white;
    font-weight: 600;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 7px;
    position: relative;
    bottom:2px;

    animation-name: tag-animation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes tag-animation {
    0% {

    }
    50%{
        background-color: rgba(243, 117, 68, 0.938);
    }
    100% {
        background-color: rgba(233, 52, 7, 0.938);
    }
}