#target{
    width:100px;
    height: 100px;
    background-color: gray;
    border: 1px solid black;
}

#target:hover {
    /* transition: 500ms; (축약형)*/
    transition-duration: 500ms;
    transition-property: all; 
    transition-delay: 200ms; 
    transition-timing-function:cubic-bezier(.32,.85,.67,.82);
    
    /* transition: property timing-function duration delay*/
    
    transform: translateX(300px);
}

#ani {
    width:200px;
    height:200px;
    border: 5px dashed black;
    background-color: gray;

    animation-name: hello;
    animation-duration: 1s;
    animation-delay: 200ms;
    animation-direction: nomal;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-play-state: paused;
}

#ani:hover {
    animation-play-state: paused;
}

@keyframes hello {
    0% {
        background-color: red;
        transform:rotate(0deg);
        /* transform: scale(0.5);
        border: 10px solid black; */
    }

    /* 50% {
        background-color: green;
    } */

    100% {
        background-color: blue;
        transform:rotate(270deg);
        /* transform: scale(2);
        border: 5px dotted violet; */
    }
}

#jelly {
    width: 100px;
    height: 65px;
    background-color: rgb(255, 224, 231);
    border:none;
    border-radius: 30px;
    font-size: 20px;
}

#jelly:hover {
    animation:jellyani;
    animation-duration: 50ms;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

@keyframes jellyani {
    0% {

    }

    100% {
        background-color: rgb(255, 216, 223);
        border: 1px solid rgb(255, 177, 190);
    }
}