.outer {
    width: 800px;
    height: 800px;
    border: 5px dashed red;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:start;
    flex-wrap:wrap;
    /* align-content:space-between; */
}

.inner {
    width: 150px;
    height: 150px;
    border: 3px dashed blue;
    box-sizing: border-box;
}

.inner:nth-child(7) {
    background-color: red;
    align-self:center;
    order:-1;
}

#test{
    width: 300px;
    height: 300px;
    background-color: gray;
    display:flex;
    align-items: center;
}

#test>div{
    border:1px solid black;
    box-sizing: border-box;
}

.a{
    width: 500px;
    height: 500px;
    border: 5px dashed red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.b {
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;

}

.c{
   width: 40px;
   height: 40px;
   background-color: orange; 
   border: 1px solid black;
   box-sizing: border-box;
}

#practice{
    width: 300px;
    height: 300px;
    border:5px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    justify-content: right;
}

#practice > div {
    width: 50px;
    height: 50px;
    background-color: red;
}