#outer{
    width: 800px;
    height: 800px;
    border:5px solid black;
    display:grid;

    grid-template-columns: repeat(5, 100px);
    /* grid-template-columns: repeat(2, 50px 100px 150px); */
    /* grid-template-columns: 1fr 2fr 3fr 1fr 2fr 3fr; 1:2:3 비율로 만들어짐*/
    grid-template-rows: 100px 100px 100px;

    /* justify-items:center;
    align-items:center; 이 두개를 한번에 작성하는거 : place-items*/ 
    place-items: center center;

    /* row-gap: 20px;
    column-gap: 50px; 
    gap : 20px 50px; */

    /* align-content: center;
    justify-content: center; 이 두개를 한번에 작성하는거 : place-content
    place-content: space-between space-between; */

    grid-auto-columns: 60px;
    grid-auto-rows: 60px;
    grid-auto-flow: column;
}

#outer > * {
    width:50px;
    height: 50px;
    background-color: gray;
    border: 1px dashed red;
}

#outer > div:nth-child(1) {
    /* grid-column: span 2; 
    grid-row:span 2; */

    /* grid-column-start: 1;
    grid-column-end: 3; */

    /* grid-column: 1/3; */

    align-self:center;
    justify-self: start;
    
    place-self: center center;

    order: 0;
}