/* h1{
  background-color: red;
} */

.card-wrapper{
  width: 300px;
  height: 310px;
  border: 1px solid black;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 6fr 4fr;
  grid-template-columns: 1fr;
}

.card-wrapper > div {
  border : 1px dashed gray;
  box-sizing: border-box;
}

.card-wrapper > div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight:900;
}

.outer{
  display: flex;
  width: 100%;
  height: 100%;
}