h1{
	background-color: black;
	color: white;
}

nav{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	place-items: center center;
	border: 3px solid black;
	background-color: gray;
}

nav > a{
	font-size: 2em;
	text-decoration: none;
	color: white;
}