
body {
    margin: 0;
    padding: 0;
}

.do-hyeon-regular {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    font-family: "Do Hyeon", sans-serif;
}

#top {
    width: 100%;
    height: 68px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.229);
    background-color: white;
    position: fixed;
}

#top-body {
    width: 1200px;
    height:100%;
    margin:0 auto;
    text-align: center;
}

#menu {
    padding-top: 20px;
}

#menulist>td:nth-child(1) {
    font-size:28px;
    vertical-align: bottom;
    letter-spacing: 0.5px;
}

#menulist>td:nth-child(2) {
    padding-left: 27px;
    padding-right: 28px;

}

#menulist>td:nth-child(2)~td {
    padding-left: 20px;
    padding-right: 21px;
    vertical-align: bottom;
    font-size:18px;
    animation-name: menu-hover;
    animation-duration: 50ms;
}

#menulist>td:nth-child(2)~td > a {
    text-decoration: none;
    color: black;
}

#menulist>td:nth-child(2)~td > a:hover {
    color: rgb(255, 82, 82);
}

#content {
    width: 100%;
    height:100%;
    padding-top:68px;
} 

#content-body {
    width: 1200px;
    height:100%;
    margin:0 auto;
    height:100%;
    text-align: center;
} 

.menu {
    margin-top: -68px;
    padding-top: 68px;
    font-size:27px;
    text-align: left;
    color: rgba(0, 0, 0, 0.904);
}

.about01 {
    text-align: left;
    font-size:34px;
    margin-top: 12px;
    margin-bottom: 9px;
    letter-spacing: 0.5px;
}

.about02 {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 3px;
    font-size:17px;
    letter-spacing: 0.5px;
}

.about02 > a {
    color: gray;
}

#circle-ani01 {
    font-size: 13px;
    color:rgb(118, 223, 118);
    animation-name:circle01;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

#circle-ani02 {
    font-size: 13px;
    color:rgb(252, 211, 100);
    animation-name:circle02;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

@keyframes circle01 {
    0% {

    }
    20%{
        color:white;
    }
    70% {
        color:rgb(118, 223, 118);
    }
    100% {
        color:rgb(118, 223, 118);
    }
}

@keyframes circle02 {
    0% {

    }
    20%{
        color:white;
    }
    70% {
        color:rgb(252, 211, 100);
    }
    100% {
        color:rgb(252, 211, 100);
    }
}

.hr {
    margin-top: 25px;
    margin-bottom: 20px;
}

.postimage {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
}

.posttitle {
    font-size: 23px;
    padding-left: 14px;
    text-align:left;
    text-decoration: none;
    color: black;
}

.titlelink {
    text-decoration: none;
    color:black
}


.titlelink:hover {
    text-decoration:underline
}

.postcontent {
    padding-left: 14px;
    text-align:left;
    color: rgb(160, 160, 160);
    margin-bottom: 30px;
}

#commentbox {
    width: 100%;
    height: 150px;
    text-align:left;
}

#commentcontent {
    width: 1180px;
    height: 100px;
    border: 1px solid gray;
    padding:10px;
    font-size: 16px;
    vertical-align: top;
}

#comment-idpwd {
    margin-bottom:12px;
}

#commentsubmit {
    margin-top:12px;
    text-align: right;
}

#commentbutton {
    font-size: 16px;
    border-radius:10%;
    width: 50px;
    height: 30px;
    background-color: white;
    color: rgb(43, 43, 43);
    border: 1px solid rgb(85, 85, 85);
    margin-bottom: 15px;
}

#commentbutton:hover {
    color: rgb(255, 82, 82);
    border: 1px solid rgb(255, 82, 82);
   
}

#bookmark {
    text-align: left;
}

.bookmarkdiv {
    width: 75px;
    height: 75px;
    border: 1px solid rgb(209, 209, 209);
    display: inline-block;
    text-align: center;
    border-radius: 80%;
}

.bookmarkdiv:hover {
    border-color: rgba(219, 219, 219, 0.904);
    background-color: rgba(241, 241, 241, 0.829);
}

.bookmarkimg {
    width: 35px;
    height: 35px;
    margin-top: 20px;
}

#viewall {
    display: inline-block;
    font-size: 18px;
    padding-left: 89%;
}

#view-all-link {
    text-decoration: none;
    color:rgb(0, 0, 0)
}

#view-all-link:hover {
    color: rgb(255, 82, 82);
}

.reply {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.replydiv {
    width: 100%;
    height: 65px;
    padding-top: 11px;
    padding-left: 5px;;
    border-bottom: 1px solid gray;
}

.replydiv>div>span:nth-child(2) {
    margin:5px;
    color: gray;
    font-size: 15px;
}

.replydiv>div>span:nth-child(3) {

    font-size: 15px;
}

.reply-content {
    margin-top:10px;
    font-size: 17px;
}