<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.semi.hr.salary.mapper.SalaryMapper">
    <update id="editAll">
        UPDATE SALARY
        SET DEL_YN = 'Y'


        <where>
            <if test = "dataArr != null">
                DEL_YN = 'N'
                AND NO IN
                <foreach item="no" collection="dataArr" open="(" close=")" separator=",">
                    #{no}
                </foreach>
            </if>
        </where>

    </update>
    <select id="listAll">
    SELECT
    A.NO ,
    A.PAY_YEARMONTH ,
    A.EMP_NO ,
    B.NAME ENAME,
    D.NAME DNAME,
    B.DEPT_CODE,
    C.NAME PNAME,
    A.BASIC ,
    A.MEAL_ALLOWANCE ,
    A.COMMUNICATION_COST ,
    (A.BASIC+A.MEAL_ALLOWANCE+A.COMMUNICATION_COST) AS PAYMENT,
    A.NATIONAL_PENSION ,
    A.HEALTH_INSURANCE ,
    A.EMPLOYMENT_INSURANCE ,
    A.LONGTERM_CARE_INSURANCE ,
    A.INCOME_TAX ,
    A.LOCAL_TAXES ,
    (A.NATIONAL_PENSION+A.HEALTH_INSURANCE+A.EMPLOYMENT_INSURANCE+A.LONGTERM_CARE_INSURANCE+A.INCOME_TAX+A.LOCAL_TAXES)AS DEDUCTIONS,
    ((A.BASIC+A.MEAL_ALLOWANCE+A.COMMUNICATION_COST) - (A.NATIONAL_PENSION+A.HEALTH_INSURANCE+A.EMPLOYMENT_INSURANCE+A.LONGTERM_CARE_INSURANCE+A.INCOME_TAX+A.LOCAL_TAXES)) AS NETPAYMENT
    FROM SALARY A
    JOIN EMPLOYEE B ON (A.EMP_NO = B.NO)
    JOIN POSITION C ON (B.POSITION_CODE= C.NO)
    JOIN DEPARTMENT D ON (B.DEPT_CODE = D.NO)
    WHERE A.DEL_YN = 'N'
        <if test="searchVo.searchMonth != null and searchVo.searchMonth !='' ">
            AND A.PAY_YEARMONTH =#{searchVo.searchMonth}
        </if>
        <if test="searchVo.searchOption != null and searchVo.searchOption !='' ">
            AND B.DEPT_CODE =#{searchVo.searchOption}
        </if>
        <if test="searchVo.searchType != '' and searchVo.searchValue != '' and searchVo.searchType != null and searchVo.searchValue != null">
            AND ${searchVo.searchType} =#{searchVo.searchValue}
        </if>
    ORDER BY A.NO DESC
    OFFSET #{pvo.offset} ROWS FETCH NEXT #{pvo.boardLimit} ROWS ONLY
    </select>
    <select id="selectEmpVo">
        SELECT
        E.NO,
        PROFILE_IMAGE,
        PWD,
        E.NAME,
        BIRTH,
        GENDER,
        EMAIL,
        PHONE,
        EMERGENCY_PHONE,
        ADDRESS,
        DEPT_CODE,
        D.NAME AS DNAME,
        POSITION_CODE,
        P.NAME AS PNAME,
        SALARY,
        BANK_CODE,
        ACCOUNT_NO,
        TOTAL_VACATION_DAYS,
        STATUS_CODE,
        ES.NAME AS ESNAME,
        ENTER_DATE,
        OUT_DATE,
        ENROLL_DATE,
        MODIFY_DATE,
        DEL_YN
        FROM EMPLOYEE  E
        JOIN DEPARTMENT D ON(E.DEPT_CODE = D.NO)
        JOIN POSITION P ON(E.POSITION_CODE = P.NO)
        JOIN EMP_STATUS ES ON(E.STATUS_CODE =ES.NO)
        WHERE 1=1 AND DEL_YN='N'

        <if test="searchEmpNo != null and searchEmpNo !='' ">
            AND E.NO = #{searchEmpNo}
        </if>
        <if test="searchEname != null and searchEname !='' ">
            AND E.NAME = #{searchEname}
        </if>
    </select>
</mapper>