<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.semi.hr.vacation.mapper.VacationMapper">
    <update id="editAll">
        UPDATE VACATION_LOG
        SET DEL_YN = 'Y'


        <where>
            <if test = "dataArr != null">
                DEL_YN = 'N'
                AND NO IN
                <foreach item="no" collection="dataArr" open="(" close=")" separator=",">
                    #{no}
                </foreach>
            </if>
        </where>

    </update>
    <select id="list">
        SELECT
        A.NO ,
        A.THISDATE,
        A.EMP_NO,
        B.NAME AS ENAME,
        C.NAME  AS DNAME,
        B.DEPT_CODE,
        D.NAME AS PNAME,
        E.NAME AS TYPE,
        B.TOTAL_VACATION_DAYS AS ALL_VACATION,
        (SELECT
        SUM(CASE
        WHEN CODE = 2 THEN 0.5
        ELSE 1
        END) AS TOTAL_COUNT
        FROM VACATION_LOG
        WHERE EMP_NO = A.EMP_NO
        AND DEL_YN='N'
        AND CODE NOT IN (3)
        GROUP BY EMP_NO) AS USE_VACATION,
        B.TOTAL_VACATION_DAYS - COALESCE(
        (SELECT
        SUM(
        CASE
        WHEN CODE = 2 THEN 0.5
        ELSE 1
        END
        ) AS TOTAL_COUNT
        FROM VACATION_LOG
        WHERE EMP_NO = A.EMP_NO
        AND DEL_YN='N'
        AND CODE NOT IN (3)
        GROUP BY EMP_NO),
        0
        ) AS VACATION,
        A.REASON ,
        A.ENROLL_DATE,
        A.MODIFY_DATE,
        A.DEL_YN FROM VACATION_LOG A
        JOIN EMPLOYEE B ON(A.EMP_NO = B.NO)
        JOIN DEPARTMENT C ON (B.DEPT_CODE = C.NO)
        JOIN POSITION D ON (B.POSITION_CODE = D.NO)
        JOIN VACATION_TYPE E ON(A.CODE =E.NO)
        WHERE A.DEL_YN ='N'
        <if test="searchVo.searchYear != null and searchVo.searchYear !='' ">
            AND A.THISDATE =#{searchVo.searchYear}
        </if>
        <if test="searchVo.searchOption != null and searchVo.searchOption !='' ">
            AND B.DEPT_CODE =#{searchVo.searchOption}
        </if>
        <if test="searchVo.searchType != '' and searchVo.searchValue != '' and searchVo.searchType != null and searchVo.searchValue != null">
            AND ${searchVo.searchType} =#{searchVo.searchValue}
        </if>

        ORDER BY A.NO DESC
        OFFSET #{pvo.offset} ROWS FETCH NEXT #{pvo.boardLimit} ROWS ONLY
    </select>

    <select id="selectEmpVo">
        SELECT
        E.NO,
        PROFILE_IMAGE,
        PWD,
        E.NAME,
        BIRTH,
        GENDER,
        EMAIL,
        PHONE,
        EMERGENCY_PHONE,
        ADDRESS,
        DEPT_CODE,
        D.NAME AS DNAME,
        POSITION_CODE,
        P.NAME AS PNAME,
        SALARY,
        BANK_CODE,
        ACCOUNT_NO,
        TOTAL_VACATION_DAYS,
        STATUS_CODE,
        ES.NAME AS ESNAME,
        ENTER_DATE,
        OUT_DATE,
        ENROLL_DATE,
        MODIFY_DATE,
        DEL_YN
        FROM EMPLOYEE  E
        JOIN DEPARTMENT D ON(E.DEPT_CODE = D.NO)
        JOIN POSITION P ON(E.POSITION_CODE = P.NO)
        JOIN EMP_STATUS ES ON(E.STATUS_CODE =ES.NO)
        WHERE 1=1 AND DEL_YN='N'

        <if test="searchEmpNo != null and searchEmpNo !='' ">
            AND E.NO = #{searchEmpNo}
        </if>
        <if test="searchEname != null and searchEname !='' ">
            AND E.NAME = #{searchEname}
        </if>
    </select>

</mapper>