/* #asreq-modal */
#asreq-modal{
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 반투명 배경 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

#asreq-modal .modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 가운데 정렬 */
    background-color: white;
    padding: 25px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: fit-content;
    column-gap: 50px;
}

#asreq-modal .modal-title{
    font-size: 23px;
    font-weight: bold;
    text-align: left;
}

#asreq-modal input:disabled {
    background-color: #f0f0f0; 
}

#asreq-modal .required-text {
    font-size: 14px;
    color: red;
    text-align: right;
}

#asreq-modal .title-text{
    grid-column: 1 / -1;
    font-size: 16px;
    margin-top: 17px;
    margin-bottom: 5px;
    color: #3344FF;
    font-weight: bold;
    text-align: left;
}

#asreq-modal .modal-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 15px;
    gap: 4px;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#asreq-modal .modal-cont div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#asreq-modal .modal-cont.long-textbox {
    grid-column: span 2;
}

#asreq-modal input {
    padding: 5px 10px;
    font-size: 13px;
    width: 200px;
    height: 18px;
    border-radius: 8px;
    border: 1px solid black;
}

#asreq-modal input[name=issueTitle]{
    width: 90%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#asreq-modal textarea{
    width: 90%;
    height: 60px;
    border: 1px solid black;
    padding: 5px 10px;
    box-sizing: content-box;
}

#asreq-modal select{
    height: 30px;
    width: 80px;
    font-family: '맑은 고딕';
    border: 1px solid black;
    padding-left: 5px;
}

#asreq-modal #search-button {
    font-size: 13px; 
    background-color: #f5f5f5; 
    color: black; 
    border-radius: 5px; 
    width: 72px;
    height: 30px;
    border: 1px solid rgb(177, 177, 177);
    margin: 0px;
}

#asreq-modal input[type=radio] {
    width: 20px;
}

#asreq-modal .button-container {
    display: flex; 
    justify-content: end; 
    align-items: end;
    gap: 10px;
} 

#asreq-modal .button-container input{
    font-size: 15px; 
    padding: 0px 0px; 
    background-color: #FFFFFF; 
    color: black; 
    border-radius: 20px;
    cursor: pointer; 
    border: 1px solid #416DFF; ;
    width: 70px;
    height: 38px;
    margin-top: 13px;
    margin-bottom: 7px;
}


#asreq-modal .button-container input:hover {
    background-color: #416DFF;
    color: white; 
    font-weight: bold;
}

#asreq-modal #asreq-receive-button {
    width: 92px;
}

#asreq-modal .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: gray;
}

#asreq-modal .modal-close:hover {
    color: black;
}


/* #product-modal */
#product-modal{
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 반투명 배경 */
    z-index: 2000; /* 다른 요소 위에 표시 */
}

#product-modal .modal-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: fit-content;    
    row-gap: 10px;
}

#product-modal .modal-title{
    font-size: 23px;
    font-weight: bold;
    text-align: left;
}

#product-modal #product-modal-search-area{
    text-align: right;
}

#product-modal table{
    border: 1px solid black;
    border-collapse: collapse;
}

#product-modal th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center;
    background-color: #f7f8f9;
    color: #333;
}

#product-modal td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center;
}

#product-modal .page-area {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#product-modal .page-area span{
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    color: rgb(36, 36, 36);
}

#product-modal .button-container {
    display: flex;
    justify-content: right; 
    align-items: center;
}

#product-modal #product-select-button {
    font-size: 15px; 
    background-color: #f5f5f5; 
    color: black; 
    border-radius: 5px; 
    width: 60px;
    height: 32px;
    border: 1px solid rgb(177, 177, 177);
    margin-top: 8px;
}

#product-modal .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: gray;
}

#product-modal .modal-close:hover {
    color: black;
}