.chat-frame{
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 535px;
  border: 1px solid black;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.chat-top{
  width: 100%;
  height: 95px;
  padding: 10px;
  box-sizing: border-box;
}

#chatting-text{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 7px;
}

.chat-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 53px;
  box-sizing: border-box;
}

.chat-content > div:first-child{
  width: 50px;
  height: 46px;
  margin: 2px 8px;
}

.chat-content > div:nth-child(2){
  width: 180px;
  height: 48px;
  margin: 5px 5px;
  font-size: 13px;
}

.chat-content > div:nth-child(3){
  height: 55px;
  margin-top: 10px;
  font-size: 11px;
  color: gray;
}

.chat-content #name{
  margin-bottom: 5px;
}

.chat-content #content{
  font-size: 12px;
  color: gray;
}

.chat-bottom{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  font-size: 11px;
  padding: 7px 0px;
  margin-top: 8px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  text-align: center;
}
