ul > li + ul{
    display: none; 
}

ul > li:hover + ul{
    display: block;

}

/* 구체적 요소 선택이 더 우선순위 높음 */
input[id=checkbox]:checked + h2{
    background-color: white;
    color: black;
}

h2{
    background-color: black;
    color: white;
}

input[id=x] {
    display: none;
}

.star-rating {
    direction: rtl; /* Makes the stars go right to left */
    display: inline-flex;
  }
  
  .star-rating input[type="radio"] {
    display: none; /* Hide the radio buttons */
  }
  
  .star-rating label {
    font-size: 30px; /* Size of the star */
    color: lightgray; /* Default star color */
    cursor: pointer;
  }
  
  .star-rating input[type="radio"]:checked ~ label {
    color: gold; /* Color for the selected stars */
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: gold; /* Highlight the stars on hover */
  }
  