<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <h1>홈페이지</h1>
    <hr />
    <form action="" onsubmit="return f01();">
      <input type="text" placeholder="메세지를 입력하세요" id="msgInput" />
      <button>send msg</button>
    </form>

    <button onclick="f02();">disconnect socket</button>

    <hr />

    <div id="msg-area"></div>
  </body>
</html>

<script>
  // 웹소켓 연결
  const socket = new WebSocket("ws://3.27.71.135:8080/kokoa-talk");

  // 웹소켓 사용 - 메시지 보내기
  const f01 = (evt) => {
    const msg = document.querySelector("#msgInput").value;
    const msgObj = {
      nick: "홍길동",
      content: msg,
    };
    document.querySelector("#msgInput").value = "";
    socket.send(JSON.stringify(msgObj));
    return false;
  };

  // 웹소켓 사용 - 메시지 받기
  socket.onmessage = (evt) => {
    console.log("evt ::: ", evt);
    console.log("메세지 받음 ::: ", evt.data);
    const msgArea = document.querySelector("#msg-area");

    const dataObj = JSON.parse(evt.data);
    const nick = dataObj.nick;
    const content = dataObj.content;
    const time = dataObj.time;
    msgArea.innerHTML += `<div>
        <b>${nick} : </b>
        <span>${content}</span>
        <sub>${time}</sub>
      </div>`;
  };

  // 웹소켓 연결끊기
  const f02 = () => {
    socket.close();
  };
</script>
