<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.semi.qa.inspection.mapper.InspectionMapper">

    <select id="getInspectionList">
        SELECT
            I.NO
            , Q.NO   AS ITEM_CODE
            , Q.ITEM_NAME
            , I.PRODUCT_NO
            , P.NAME    AS PRODUCT_NAME
            , P.SERIAL_NUMBER
            , I.INSPECTION_CODE
            , C.NAME    AS INSPECTION_NAME
            , TO_DATE(I.INSPECTION_DATE, 'YYYY-MM-DD') AS INSPECTION_DATE
            , CASE  WHEN (I.SUCCESS_YN = 'P') THEN 'PASS'
                    WHEN (I.SUCCESS_YN = 'F') THEN 'FAIL'
                    END AS SUCCESS_YN
            , I.STATUS_CODE
            , S.NAME    AS STATUS_NAME
            , I.ENROLL_DATE
            , I.MODIFY_DATE
            , I.DEL_YN
        FROM INSPECTION_HISTORY I
        JOIN PRODUCT_REGISTRATION P ON (I.PRODUCT_NO = P.NO)
        JOIN PRODUCT_INQUIRY Q ON (P.ITEM_CODE = Q.NO)
        JOIN INSPECTION_TYPE C ON (I.INSPECTION_CODE = C.NO)
        JOIN INSPECTION_STATUS S ON (I.STATUS_CODE = S.NO)
        WHERE I.DEL_YN = 'N'

        <if test="inspectionType != '' and inspectionType != null">
            AND I.INSPECTION_CODE = #{inspectionType}
        </if>
        <if test="status != '' and status != null">
            AND I.STATUS_CODE = #{status}
        </if>
        <if test="passYn != '' and passYn != null">
            AND I.SUCCESS_YN = #{passYn}
        </if>
        <if test="searchValue != '' and searchValue != null and searchType == 'itemName'">
            AND Q.ITEM_NAME LIKE '%${searchValue}%'
        </if>
        <if test="searchValue != '' and searchValue != null and searchType == 'serialNumber'">
            AND P.SERIAL_NUMBER LIKE '%${searchValue}%'
        </if>
        <if test="searchValue != '' and searchValue != null and searchType == 'productName'">
            AND P.NAME LIKE '%${searchValue}%'
        </if>

        ORDER BY I.NO DESC
        OFFSET #{pvo.offset} ROWS FETCH NEXT #{pvo.boardLimit} ROWS ONLY
    </select>

    <select id="getInspectionListCnt">
        SELECT COUNT(I.NO)
        FROM INSPECTION_HISTORY I
        JOIN PRODUCT_REGISTRATION P ON (I.PRODUCT_NO = P.NO)
        JOIN PRODUCT_INQUIRY Q ON (P.ITEM_CODE = Q.NO)
        JOIN INSPECTION_TYPE C ON (I.INSPECTION_CODE = C.NO)
        JOIN INSPECTION_STATUS S ON (I.STATUS_CODE = S.NO)
        WHERE I.DEL_YN = 'N'

        <if test="inspectionType != '' and inspectionType != null">
            AND I.INSPECTION_CODE = #{inspectionType}
        </if>
        <if test="status != '' and status != null">
            AND I.STATUS_CODE = #{status}
        </if>
        <if test="passYn != '' and passYn != null">
            AND I.SUCCESS_YN = #{passYn}
        </if>
        <if test="searchValue != '' and searchValue != null and searchType == 'itemName'">
            AND Q.ITEM_NAME LIKE '%${searchValue}%'
        </if>
        <if test="searchValue != '' and searchValue != null and searchType == 'serialNumber'">
            AND P.SERIAL_NUMBER LIKE '%${searchValue}%'
        </if>
        <if test="searchValue != '' and searchValue != null and searchType == 'productName'">
            AND P.NAME LIKE '%${searchValue}%'
        </if>

    </select>
</mapper>
