body{
    margin: 0;
    padding: 0;
    
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2.5fr 5fr 2.5fr;
    grid-template-rows: 1fr;
    background-color: lightgray;
}

.kh-btn-blue{
    width: 100px;
    height: 30px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}

.kh-btn-blue:hover{
    border: 2px sold white;
    background-color: blue;
}