nav{
    width: 100%;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    place-items: center center;
    background-color: black;
}

nav > div > a {
    text-decoration: none;
    color: white;
}