<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사이드바 연습</title>
    <link rel="stylesheet" href="./sidebar.css">
    <script src="./sidebar.js" defer></script>
</head>
<body>

    <!-- <div id="aside"></div> -->
    <aside class="abc">
        <ul>
            <li>JAVA</li>
            <li>ORACLE</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JSes6</li>
        </ul>
    </aside>
    
</body>
</html>