/* 
    CSS Reset
    바디, h1와 같은 요소들 크기, 마진 등 셋팅 
*/

/* 
    뷰포트 : 화면기준
*/

body {
    width: 100vw;
    height: 100vh;
    margin:0;
}

h1{
    margin:0;
}

#outer{
    width:100%;
    height: 100%;

    display:grid;

    grid-template-columns: 240px 1fr;
    grid-template-rows: 60px 1fr;
}

#logo-area {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    place-items: center;
}

#menu-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 2fr 2.5fr 10fr 2fr;
}

#menu-area > div:nth-child(1) {
    display: grid;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#menu-area > div:nth-child(1) > div:nth-child(odd) {
    place-self: center center;
}

#menu-area > div:nth-child(1) > div:nth-child(even) {
    place-self: center start;
    padding-left: 10px;
}

#video-area{
    display: grid;
    grid-template-rows: 40px 600px 1fr;
    grid-template-columns: 1fr;
}

#video-category-area > button{
    width: 70px;
    height: 30px;
    font-size: 13px;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 15px;
    background-color: rgb(243, 243, 243);
}

#video-main-area {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;
}

#video-main-area > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65% 1fr;
}

