body {
    margin: 0;
    font-family: "IBM Plex Sans KR", sans-serif;
}

#outer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 200px;
}

header {
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-left: 20px;
    padding-right: 20px;
}

header > div {
    width: 1150px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

header > div > div:nth-child(1) {
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 50px;
}

header > div > div > input {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    padding-left: 18px;
    padding-right: 70px;
    width: 460px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 20px;
}

header > div > div > button {
    position: relative;
    right:62px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    padding: 4px 9px;
    border-radius: 6px;
    font-size: 14px;
}

header > div > div > button:hover {
    background-color: rgb(228, 228, 228);
}

header > div > div:nth-child(3) {
    padding-right: 50px;
}

header > div > div:nth-child(3) > span {
    font-size: 14px;
    margin-left: 9px;
    color: rgb(37, 37, 37);
    cursor: pointer;
}