#drop-area {
    width: 500px;
    height: 300px;
    border: 5px solid black;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bg-gray {
    background-color: gray;
  }